<body style="padding-top: 100px;">
    <mat-toolbar class="B1">
        <p style="text-align:center; color: white; flex: 1;"> WHY FOODGASM ?</p>

        <a href="/home" >
            <mat-icon style="font-size: 48px; color: white; right:70%; position: relative;">cancel</mat-icon>
        </a>

      </mat-toolbar>
<div class="image">
        <div class="overlay"></div>
        
        <pre>Escape the mass 
            & 
            grab your meal</pre> 
</div>


<p class="tx" style="padding-top: 670px; background-color: #00a7c4; color: white; padding-left: 2.8%; padding-right: 2.8%;">
    The FOODGASM app brings the best of mess experience to your android devices with real-time ordering of food items.

Foodgasm is an application and web platform that enables you to place orders for pickup at nearby restaurants 
and cafes and skip the line when picking them up.
We allow you to pre-order and pay ahead of time right from your phone or computer 
so that your order is ready and waiting for you when you walk through the door 
and you also get heavy discount   reward piont on each order.
</p>

</body>