<body style="padding-top: 100px;">

    <h1 class="ab1"> Are you interested in increasing <br> your and our creative potential?</h1>

    <p class="ab2">Then kindly get in touch with us, we'd be happy to meet you.</p>

    <p class="ab2" style="margin-bottom: 4em;">It's just easy as writing an email: contact.officialfoodgasm@gmail.com</p>

    <a href="mailto:contact.officialfoodgasm@gmail.com" class="ab3">Contact Us </a>
    
    <a href="mailto:contact.officialfoodgasm@gmail.com" class="icol">
    <mat-icon>arrow_forward</mat-icon>
    </a>
</body>