body{
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #000000 20%, #434343 71%, #000000 5%);
    max-height: 86.7%;
}
.ab1{
    color: white;
    font-size: 55px;
    font-weight: normal;
    padding-left: 220px;
    padding-top: 35px;
    font-family: 'Arimo';
    margin-bottom: 1em;
}
.ab2{
    color: rgba(122, 122, 122, 0.719);
    font-size: 17px;
    padding-left: 220px;
    line-height: 60%;
}
.ab3{
    color: white;
    font-size: 21px;
    font-weight: lighter;
    margin-left: 220px;
    outline: none;
    text-decoration: none;
}
.icol{
    color: #0400ff;
    outline: none;
    position: relative;
    top: 0.2em;
}