
<body style="padding-top: 100px;">
<br>
    <h2 style="text-align: center; font-weight:800;">NEWSLETTER</h2>
    <br><br>
    <form action="/action_page.php">
      <div class="container">
        <h2 style="text-align: center;">Subscribe to our Newsletter</h2>
      </div>
    
      <div class="container" style="background-color:white">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Email address" name="mail" required>
      </div>
    
      <div class="container">
        <input type="submit" value="Subscribe">
      </div>
    </form>

</body>